name: GitHub Pages
on:
  push:
    branches:
      - gh-pages

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Install
        run: npm install
      
      - name: Build
        run: npm run build

      - name: Deploy
        run: npm run deploy